body
{

}

#Title
{
  background-color:  #6930c3;
}
h1
{
  text-align: center;
  font-family: 'Noto Serif', serif;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2
{
  font-family: 'Noto Serif', serif;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 3rem;

}
h3
{
  font-family: 'Noto Serif', serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;

}
h4
{
  font-family: 'Noto Serif', serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
 p
{
  font-family: 'PT Serif', serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}
.container-fluid
{

  padding: 3% 15%;

}

.navbar
{
  padding: 0 0 4.5rem;
}

.nav-item
{
  padding: 0 24px;
  background-color: #252525;
  border-radius: 50%;
}
.navbar-brand
{
  font-size: 2.5rem;
  font-family: 'Noto Serif', serif;
  font-weight: bold;

  background-color: #252525;
  border-radius: 50%;
}

.circle
{
  background-color: #252525;
  border-radius: 100%;


}

.nav-link
{
 font-size: 1.5rem;
}


.t-button
{

 padding-bottom: 5px;
 font-family: 'Noto Serif', serif;

 font-weight: bold;
 border-radius: 5%;
 background-color: #252525;
}

.img4
{
  height: 480px;
  width: 480px;
  border-radius: 5%;
}

.img-set
{
  padding-top: 70px;
  padding-left: 60px;
   width:80%;
   border-radius: 5%;
}

#features
{
  padding: 8% 15%;
  background-color: #252525;
}

.bio1
{
  width: 70%;
  border-radius: 30%;
}
.bio3
{
 width: 80%;
 border-radius: 30%;
}
.bio2
{
 width: 80%;
 border-radius: 30%;
}

.section2p
{
 text-align: center;
 padding-right: 68px;
 padding-top: 20px;
}
.section2p1
{
  text-align: center;
  padding-right: 40px;
  padding-top: 30px;
}
.section2p2
{
  text-align: center;
  padding-right: 50px;
  padding-top: 30px;
}
.em1
{
  color: #fff;
  text-align: center;
}
.em3
{
  color: #fff;
  text-align: center;
}
.em2
{
  color: #fff;
  text-align: center;
}

.section2
{
  padding: 0 2%;
  padding-left: 6%;
}
#slide
{
  padding: 7% 15%;
  text-align: center;
  background-color:  #6930c3;
}

.slidebutton
{
  background-color: #252525;
  margin-top: 50px;
  font-family: 'Noto Serif', serif;
  border-radius: 10%;

}

#rating
{
  background-color: #252525;
  padding: 7% 15%;
}

.r
{
  width: 60%;
  border-radius: 40%;
}

.rp1
{
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.rp3
{
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 30px;

}
.rp2
{
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 40px;
}
.ratin
{
  padding: 0 2%;
  padding-left: 6%;
}

.rp4
{
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.rp5
{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 18px;
}
#end
{
  background-color:  #6930c3;


}

@media (max-width:1000px)
{
 #rating
 {
   text-align: center;
 }
 h2
 {
   text-align: left;
   padding-bottom: 40px;
 }
 .bio2
 {
   margin-top: 40px;
 }
 .rp1
 {
   padding-top: 20px;
   padding-bottom: 25px;
   padding-left: 0px;
 }
 .rp2
 {
   padding-top: 20px;
   padding-bottom: 25px;
   padding-left: 0px;
 }
 .rp3
 {
   padding-top: 20px;
   padding-bottom: 25px;
   padding-right: 0px;

 }
 .rp4
 {
   padding-top: 30px;
   padding-bottom: 25px;
   padding-left: 0px;
 }
 .rp5
 {
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 0px;
 }
 .circle
 {
   background-color: #252525;
   border-radius: 100%;
   padding: 0 0;
 }
 #Title
 {
  padding-bottom: 40px;
 }
 h1
 {
   margin-bottom: 25px;
 }
 .nav-item
 {
   background-color:  #6930c3;

 }
}

